# Logic in pandas

In [18]:
import pandas as pd
import numpy as np

In [21]:
df = pd.DataFrame(
    {"a": [4, 5, 6, np.nan],
     "b": [7, 8, np.nan, 9],
     "c": [np.nan, 10, 11, 12]},
    index = [1, 2, 3, 4])
df

     a    b     c
1  4.0  7.0   NaN
2  5.0  8.0  10.0
3  6.0  NaN  11.0
4  NaN  9.0  12.0

In [22]:
df['a'] != 5

1     True
2    False
3     True
4     True
Name: a, dtype: bool

In [23]:
df[df['a'] != 5]

     a    b     c
1  4.0  7.0   NaN
3  6.0  NaN  11.0
4  NaN  9.0  12.0

## Usage of isin()
<strong> Only list-like objects are allowed to be passed to isin() argument </strong>

In [24]:
df.a.isin([1,2,3,4,5])

1     True
2     True
3    False
4    False
Name: a, dtype: bool

In [27]:
df['a'].isin([1,2,3,4,5])

1     True
2     True
3    False
4    False
Name: a, dtype: bool

## Usage of isnull() & notnull()

In [39]:
pd.isnull(df)

       a      b      c
1  False  False   True
2  False  False  False
3  False   True  False
4   True  False  False

<strong> Another form </strong>

In [40]:
df.isnull()

       a      b      c
1  False  False   True
2  False  False  False
3  False   True  False
4   True  False  False

In [41]:
pd.isnull(df).sum()

a    1
b    1
c    1
dtype: int64

In [42]:
pd.notnull(df)

       a      b      c
1   True   True  False
2   True   True   True
3   True  False   True
4  False   True   True

<strong> Another form </strong>

In [43]:
df.notnull()

       a      b      c
1   True   True  False
2   True   True   True
3   True  False   True
4  False   True   True

In [48]:
df.notnull().sum()

a    3
b    3
c    3
dtype: int64

## Other logical expressions

* <strong> and, or, not, xor, any, all </strong><br>
* <strong> &, |, ~, ^, df.any(), df.all() </strong>

In [49]:
df.any()

a    True
b    True
c    True
dtype: bool

In [52]:
df.all()

a    True
b    True
c    True
dtype: bool

In [54]:
df.a.notnull()

1     True
2     True
3     True
4    False
Name: a, dtype: bool

In [55]:
~df.a.notnull()

1    False
2    False
3    False
4     True
Name: a, dtype: bool