In [44]:
import pandas as pd
import numpy as np

In [45]:
df = pd.DataFrame({'A': range(1, 11), 'B': np.random.randn(10)})
df

    A         B
0   1  0.420358
1   2  1.936089
2   3  0.045096
3   4 -0.092423
4   5 -0.344306
5   6 -0.349595
6   7  1.076291
7   8  1.519752
8   9  0.468290
9  10 -1.088307

## assign

In [46]:
df.assign(ln_A = lambda x: np.log(x.A))

    A         B      ln_A
0   1  0.420358  0.000000
1   2  1.936089  0.693147
2   3  0.045096  1.098612
3   4 -0.092423  1.386294
4   5 -0.344306  1.609438
5   6 -0.349595  1.791759
6   7  1.076291  1.945910
7   8  1.519752  2.079442
8   9  0.468290  2.197225
9  10 -1.088307  2.302585

<strong> Another form </strong>

In [47]:
df["ln_A"] = np.log(df.A)
df

    A         B      ln_A
0   1  0.420358  0.000000
1   2  1.936089  0.693147
2   3  0.045096  1.098612
3   4 -0.092423  1.386294
4   5 -0.344306  1.609438
5   6 -0.349595  1.791759
6   7  1.076291  1.945910
7   8  1.519752  2.079442
8   9  0.468290  2.197225
9  10 -1.088307  2.302585

## qcut

In [48]:
pd.qcut(df.B, 3, labels=["good", "medium", "bad"])

0    medium
1       bad
2    medium
3      good
4      good
5      good
6       bad
7       bad
8    medium
9      good
Name: B, dtype: category
Categories (3, object): [good < medium < bad]

## max & min

<strong> axis = 0: row / 1: column </strong>

In [49]:
df.max(axis=0)

A       10.000000
B        1.936089
ln_A     2.302585
dtype: float64

In [50]:
df.min(axis=1)

0    0.000000
1    0.693147
2    0.045096
3   -0.092423
4   -0.344306
5   -0.349595
6    1.076291
7    1.519752
8    0.468290
9   -1.088307
dtype: float64

## clip

In [51]:
df.B.clip(lower=0,upper=1)

0    0.420358
1    1.000000
2    0.045096
3    0.000000
4    0.000000
5    0.000000
6    1.000000
7    1.000000
8    0.468290
9    0.000000
Name: B, dtype: float64

## abs

In [52]:
df.B.abs()

0    0.420358
1    1.936089
2    0.045096
3    0.092423
4    0.344306
5    0.349595
6    1.076291
7    1.519752
8    0.468290
9    1.088307
Name: B, dtype: float64