In [22]:
import pandas as pd

Simple dataframe

In [23]:
df = pd.DataFrame(
    {"a": [4, 5, 6],
     "b": [7, 8, 9],
     "c": [10, 11, 12]},
    index = [1, 2, 3])

In [11]:
df

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

In [13]:
df.loc[3, "a"]

6

In [24]:
df.loc[[1,2], ["a", "b"]]

   a  b
1  4  7
2  5  8

Another form

In [16]:
df = pd.DataFrame(
    [[4, 7, 10],
    [5, 8, 11],
    [6, 9, 12]],
    index=[1, 2, 3],
    columns=['a', 'b', 'c'])

In [21]:
df

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

Multi Index

In [31]:
df = pd.DataFrame(
    {"a": [4, 5, 6],
     "b": [7, 8, 9],
     "c": [10, 11, 12]},
    index = pd.MultiIndex.from_tuples(
    [('d',1), ('d',2), ('e',2)],
    names = ['n', 'v'])
)

In [32]:
df

     a  b   c
n v
d 1  4  7  10
  2  5  8  11
e 2  6  9  12