# Subset Variables : Columns

In [13]:
import pandas as pd
import seaborn as sns

In [43]:
df = sns.load_dataset("iris")
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

## Select columns

In [44]:
columns = ['sepal_width','sepal_length','species']
df[columns].head()

   sepal_width  sepal_length species
0          3.5           5.1  setosa
1          3.0           4.9  setosa
2          3.2           4.7  setosa
3          3.1           4.6  setosa
4          3.6           5.0  setosa

In [45]:
df.sepal_width.head()

0    3.5
1    3.0
2    3.2
3    3.1
4    3.6
Name: sepal_width, dtype: float64

<strong> Another form </strong>

In [46]:
df['sepal_width'].head()

0    3.5
1    3.0
2    3.2
3    3.1
4    3.6
Name: sepal_width, dtype: float64

## Regular expressions with filter

In [47]:
df.filter(regex='\_').head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [48]:
df.filter(regex='length$').head()

   sepal_length  petal_length
0           5.1           1.4
1           4.9           1.4
2           4.7           1.3
3           4.6           1.5
4           5.0           1.4

In [49]:
df.filter(regex='^petal').head()

   petal_length  petal_width
0           1.4          0.2
1           1.4          0.2
2           1.3          0.2
3           1.5          0.2
4           1.4          0.2

In [50]:
df.filter(regex='^(?!species$).*').head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

## loc & iloc

In [52]:
df.loc[:,'sepal_width':'petal_width'].head()

   sepal_width  petal_length  petal_width
0          3.5           1.4          0.2
1          3.0           1.4          0.2
2          3.2           1.3          0.2
3          3.1           1.5          0.2
4          3.6           1.4          0.2

In [54]:
df.iloc[:,[1,2,4]].head()

   sepal_width  petal_length species
0          3.5           1.4  setosa
1          3.0           1.4  setosa
2          3.2           1.3  setosa
3          3.1           1.5  setosa
4          3.6           1.4  setosa

In [56]:
df.loc[df['sepal_width'] > 4, ['sepal_width']].head()

    sepal_width
15          4.4
32          4.1
33          4.2